$mobile: 750px;
$tablet: 800px;
$small: 360px;
$extraSmall: 260px;

.container, .attribution {
  grid-column: 3/10;
}

.ageinput {
  grid-column: 2/5;
}

.age {
  grid-column: 5/12;
}

@media screen and (max-width: $mobile) {
  .error {
    grid-row: 4/6;
  }

  .ageinput, .age {
    font-size: 40px;
    width: 70px;
  }

  .form {
    grid-row: 1/13;
    grid-column: 1/13;
  }

  .label {
    grid-row: 2/3;
  }

  .dayLabel, #day, .dayLabelError {
    grid-column: 2/4;
  }

  .monthLabel, #month, .monthLabelError {
    grid-column: 5/7;
  }

  .yearLabel, #year, .yearLabelError {
    grid-column: 8/11;
  }

  input {
    grid-row: 3/4;
  }

  .hr {
    grid-row: 5/6;
    grid-column: 2/11;
  }

  .btn {
    grid-row: 5/6;
    grid-column: 5/8;
    z-index: 3;
    align-self: center;
    justify-self: center;
  }

  .years, .yearsInput {
    grid-row: 8/9;
  }

  .months, .monthsInput {
    grid-row: 9/10;
  }

  .days, .daysInput {
    grid-row: 10/11;
  }

  @media screen and (max-width: $tablet) {
    .ageinput, .age {
      font-size: 35px;
    }

    .container, .attribution {
      grid-column: 2/11;
    }

    #day, #month {
      width: 70px;
    }

    #year {
      width: 80px;
    }

    @media screen and (max-width: $small) {
      .container {
        border-bottom-right-radius: 180px;
        margin: 0 10px;
      }

      .attribution, .container {
        grid-column: 1/13;
      }

      #day, #month {
        width: 50px;
      }

      #year {
        width: 60px;
      }

      @media screen and (max-width: $extraSmall) {
        .ageinput, .age {
          width: 50px;
          font-size: 30px;
        }

        #day, #month {
          width: 40px;
        }

        #year {
          width: 50px;
        }

        .btn, .hr {
          grid-row: 5/7;
        }

        .container {
          border-bottom-right-radius: 150px;
        }
      }
    }
  }
}
